.content-cuadro{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-items: center;
    grid-template-areas:
    "cuadro1 cuadro2 cuadro3 ";
    justify-items: center;
    text-align: center;
    padding: 0px 100px 0px 100px;
}

.cuadro-1 :hover {
    filter: opacity(.5);
    transform:scale(1.2);
    cursor: pointer;
    color: #000;
}