.container-eight {
  background: #f5f5f5;
  padding: 30px 0px 30px 0px;
}

.card {
  width: 300px;
  height: 400px;
  color: #000;
}

.card :hover {
  filter: sepia(60%);
}

.press-title {
  font-style: italic;
  font-size: 40px;
}

.card-title {
  font-size: 16px;
  text-align: left;
  color: gray;
}

.card-text {
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: black;
}

@media (min-width: 360px) and (max-width: 560px) {
  .container-eight {
    padding: 2rem !important;
  }
  .container-eight > .press-title {
    font-size: 24px;
  }
  .container-press div .card {
    width: auto;
  }
}
