.bg-destok{
    background: black;
}

.subTitle-button {
    padding-bottom: 20px;
    font-size: 26px;
    background: #09dae5;
    border: 1px solid #09dae5;
    border-radius: 2px;
    font-weight: 500;
    font-size: .8rem;
    color: white;
} 

.copyrigth{
  display: flex;
  justify-content: space-around;
}

.h1{
  font-family: "Libre Franklin";
}

h5{
  font-family: "Libre Franklin";
}

@media (min-width: 360px) and (max-width: 560px) {
  .copyrigth{
    flex-direction: column;
  }
}
