.content-sport2 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.sports-1 , .sports-2, .sports-3, .sports-4 {
    width:200px;
    height:260px;
}

.sports-1 {
    background: url('https://image.fitnesspass.pe/fit-in/480x520/img/fitness-pass-v2/life/functional.png');
}

.sports-2 {
    background: url('https://image.fitnesspass.pe/fit-in/480x520/img/fitness-pass-v2/life/cardio.png');
}
.sports-3 {
    background: url('https://image.fitnesspass.pe/fit-in/480x520/img/fitness-pass-v2/life/yoga.png');
}
.sports-4 {
    background: url('https://image.fitnesspass.pe/fit-in/480x520/img/fitness-pass-v2/life/baile.jpg');
}

.text-sport {
    margin-top: 100px;
    font-family: 'Libre Franklin';
    font-size: 22px;
    font-weight: bold;
}

a{
    text-decoration: none;
}