.container-sport {
  background: #f5f5f5;
  padding: 30px 0px 30px 0px;
}

.box-title-sport {
  width: 300px;
  text-align: left;
  margin-right: 30px;
}

.title-sport-text {
  font-family: "Libre Franklin";
  font-size: 40px;
  font-weight: bold;
}

.title-sport-p {
  font-family: "Libre Franklin";
  font-size: 16px;
}

.box-text-sport div {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin: 4px;
  text-align: left;
}

.btn-sport {
  color: white;
  font-weight: bolder;
  font-size: 14px;
  background: #09dae5;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 4px;
  width: 280px;
}

.content-sport2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.sports-1,
.sports-2,
.sports-3,
.sports-4 {
  width: 200px;
  height: 260px;
}

.sports-1 {
  background: url("https://image.fitnesspass.pe/fit-in/480x520/img/fitness-pass-v2/life/functional.png");
}

.sports-2 {
  background: url("https://image.fitnesspass.pe/fit-in/480x520/img/fitness-pass-v2/life/cardio.png");
}
.sports-3 {
  background: url("https://image.fitnesspass.pe/fit-in/480x520/img/fitness-pass-v2/life/yoga.png");
}
.sports-4 {
  background: url("https://image.fitnesspass.pe/fit-in/480x520/img/fitness-pass-v2/life/baile.jpg");
}

.text-sport {
  margin-top: 100px;
  font-family: "Libre Franklin";
  font-size: 22px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

@media (min-width: 360px) and (max-width: 560px) {
  .content-sport2 div {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
  }

  .container-sport section .box-title-sport {
    text-align: center;
  }
  .container-sport section .box-text-sport div {
    width: auto;
    text-align: center;
  }
  .content-sport2 div .sports-1,
  .content-sport2 div .sports-2,
  .content-sport2 div .sports-3,
  .content-sport2 div .sports-4 {
    width: auto;
  }
}
